@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * FoxOnTheTree implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

#fott-zoom-controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#fott-zoom-controls button {
  cursor: pointer;
}
#fott-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#fott-zoom-controls .fott-zoom-out-icon {
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g></g></svg>');
  height: 40px;
  width: 40px;
}
#fott-zoom-controls .fott-zoom-in-icon {
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g></g></svg>');
  height: 40px;
  width: 40px;
}

#fott-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  --cardScale: var(--boardScale);
  --iconScale: var(--boardScale);
  --tileScale: var(--leftColumnScale) * var(--tileSizeMultiplier);
  --tokenScale: var(--tileScale);
  min-width: 100%;
}
#fott-board #fott-tiles-wrapper {
  padding-top: calc(var(--tileScale) * 40px);
  overflow: auto;
  height: calc(var(--tileScale) * 296px);
}
#fott-board #fott-tiles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: calc(var(--boardScale) * 8px);
  padding: calc(var(--boardScale) * 4px);
  width: calc(var(--leftColumnScale) * 2080px);
  margin-bottom: calc(var(--tileScale) * 56px);
}

.fott-tile {
  position: relative;
  min-width: calc(var(--tileScale) * 200px);
  aspect-ratio: 502/501;
  background-image: url("img/tiles.jpg");
  background-size: 500% 200%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fott-tile .fott-animal-container {
  transition: top 500ms ease-in-out, left 500ms ease-in-out;
}

.fott-action-token-slot {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: calc(var(--tileScale) * -60px);
  height: calc(var(--tokenScale) * 81px);
}

.fott-tile.selectable {
  cursor: pointer;
  outline: solid calc(var(--tileScale) * 4px) #eabf2b;
}

.fott-tile.selectable:hover,
.fott-tile.selected {
  cursor: pointer;
  outline: solid calc(var(--tileScale) * 4px) #df3b59;
}

.fott-tile[data-tile-id=Farm] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.fott-tile[data-tile-id=Tile01] {
  background-position-x: 25%;
  background-position-y: 0%;
}

.fott-tile[data-tile-id=Tile02] {
  background-position-x: 50%;
  background-position-y: 0%;
}

.fott-tile[data-tile-id=Tile03] {
  background-position-x: 75%;
  background-position-y: 0%;
}

.fott-tile[data-tile-id=Tile04] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.fott-tile[data-tile-id=Tile05] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.fott-tile[data-tile-id=Tile06] {
  background-position-x: 25%;
  background-position-y: 100%;
}

.fott-tile[data-tile-id=Tile07] {
  background-position-x: 50%;
  background-position-y: 100%;
}

.fott-tile[data-tile-id=Tile08] {
  background-position-x: 75%;
  background-position-y: 100%;
}

.fott-tile[data-tile-id=LairOfPredators] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.fott-animal-container {
  position: relative;
  width: calc(var(--tokenScale) * 100px);
  aspect-ratio: 407/432;
}

.fott-animal {
  width: calc(var(--tokenScale) * 105px);
  aspect-ratio: 407/432;
  background-image: url("img/standees.png");
  background-size: 800% 300%;
  transition: tranform 1s;
}

.fott-animal[data-facing=right] {
  transform: scaleX(-1);
}

.fott-animal.card-side {
  box-shadow: none !important;
}

.fott-animal[data-animal=Bear] {
  background-position-x: 0%;
}

.fott-animal[data-animal=Chicken] {
  background-position-x: 14.2857142857%;
}

.fott-animal[data-animal=Cow] {
  background-position-x: 28.5714285714%;
}

.fott-animal[data-animal=Fox] {
  background-position-x: 42.8571428571%;
}

.fott-animal[data-animal=Goat] {
  background-position-x: 57.1428571429%;
}

.fott-animal[data-animal=Pig] {
  background-position-x: 71.4285714286%;
}

.fott-animal[data-animal=Tiger] {
  background-position-x: 85.7142857143%;
}

.fott-animal[data-animal=Wolf] {
  background-position-x: 100%;
}

.fott-animal-container.selectable .fott-animal {
  cursor: pointer;
  background-position-y: 50%;
}

.fott-animal-container.selectable:hover .fott-animal,
.fott-animal-container.selected .fott-animal {
  cursor: pointer;
  background-position-y: 100%;
}

#info-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#info-panel #info-panel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
#info-panel #info-panel-buttons #help-mode-switch .checkbox {
  display: none;
}
#info-panel #info-panel-buttons #help-mode-switch .label {
  background-color: #2c3037;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 26px;
  width: 50px;
  margin-right: 4px;
}
#info-panel #info-panel-buttons #help-mode-switch .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear, color 0.7s linear;
}
#info-panel #info-panel-buttons #help-mode-switch .checkbox:checked + .label .ball {
  transform: translateX(24px);
}
#info-panel #info-panel-buttons #help-mode-switch svg {
  width: 27px;
}

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

#show_settings {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#show_settings:hover {
  color: grey;
}
#show_settings svg {
  width: auto;
  height: 40px;
}

#show_settings .fa-primary {
  transform-origin: 216px 255px;
  transition: transform 1s;
}
#show_settings:hover .fa-primary {
  transform: rotate(180deg);
}

#popin_settings_modal_underlay {
  background-color: #000 !important;
}

.settings_modal {
  background-color: ivory;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  border: 1px solid black;
  position: fixed;
  top: 15vh;
  min-width: 600px;
}
.settings_modal .settings_modal_closeicon {
  background-color: #a47a77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 90%;
  color: white !important;
  border: 1px solid #dfbda8;
  cursor: pointer;
}
.settings_modal .settings_modal_closeicon:hover {
  text-decoration: none;
  color: #ccc !important;
  transform: scale(1.1);
}
.settings_modal .settings_modal_closeicon i {
  margin-top: -2px;
}
.settings_modal h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 0px;
  padding: 7px 0px;
  border-bottom: 1px solid black;
  border-top-left-radius: 7px;
  color: ivory;
  background-color: rgb(91, 39, 36);
}
.settings_modal #setting_modal_content {
  min-height: 300px;
}
.settings_modal #setting_modal_content .settings_modal_tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab {
  flex-grow: 1;
  width: 50%;
  background-color: rgb(223, 176, 103);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 1px solid black;
  padding: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab span {
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab:first-child {
  border-left: none;
}
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab:last-child {
  border-right: none;
}
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab[data-state=selected] {
  background-color: transparent;
  border-bottom: none;
  cursor: auto;
}
.settings_modal #setting_modal_content .player_preference_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  margin-top: 4px;
}
.settings_modal #setting_modal_content .player_preference_row .player_preference_row_label {
  flex-grow: 1;
  text-align: center;
  align-self: center;
  font-weight: 400;
}
.settings_modal #setting_modal_content .player_preference_row .player_preference_row_value {
  box-sizing: border-box;
  padding: 8px 20px;
  width: 250px;
}
.settings_modal #setting_modal_content .player_preference_row .player_preference_row_value select {
  width: 100%;
}
.settings_modal .reserve {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.icon-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 4px;
}
.icon-counter-container .icon-counter-counter {
  cursor: default;
  font-weight: bold;
  font-size: calc(var(--iconScale) * 20px);
}
.icon-counter-container[data-has-value=false] {
  opacity: 0.3;
}

.icon-counter-container[data-type=overlap] .icon-counter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-counter-container[data-type=overlap] .icon-counter-counter {
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

/** Hide player is now online, player is now offline messages 
* Note: requires setup of adding notif name as class
* TODO: add name of function
*/
.notif_playerstatus {
  display: none !important;
}

/* Prevent the game from scrolling while the game log or chat is visible on mobile. */
body.chatbar_ontop {
  overflow: hidden;
}

/* Add text shadows to player colors that require it */
a[style*="color: #e3bcb4"],
a[style*="color:#e3bcb4"],
span[style*="color: #e3bcb4"],
span[style*="color:#e3bcb4"],
a[style*="color: #a2a882"],
a[style*="color:#a2a882"],
span[style*="color: #a2a882"],
span[style*="color:#a2a882"],
a[style*="color: #fcd873"],
a[style*="color:#fcd873"],
span[style*="color: #fcd873"],
span[style*="color:#fcd873"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#page-title {
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

.fott-player-row {
  width: calc(var(--rightColumnScale) * 1000px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(var(--rightColumnScale) * 8px);
}

.player-board-game-specific-content {
  --iconScale: 1;
  --cardScale: 1;
  --tokenScale: 0.7;
}

.fott-player-action-tokens {
  width: 100%;
}

.fott-player-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
}

.fott-card {
  width: calc(var(--cardScale) * 220px);
  aspect-ratio: 502/359;
  background-image: url("img/cards.jpg");
  background-size: 500% 200%;
}

.fott-card[data-card-id=Card01] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.fott-card[data-card-id=Card02] {
  background-position-x: 25%;
  background-position-y: 0%;
}

.fott-card[data-card-id=Card03] {
  background-position-x: 50%;
  background-position-y: 0%;
}

.fott-card[data-card-id=Card04] {
  background-position-x: 75%;
  background-position-y: 0%;
}

.fott-card[data-card-id=Card05] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.fott-card[data-card-id=Card06] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.fott-card[data-card-id=Card07] {
  background-position-x: 25%;
  background-position-y: 100%;
}

.fott-card[data-card-id=Card08] {
  background-position-x: 50%;
  background-position-y: 100%;
}

.fott-card[data-card-id=Back] {
  background-position-x: 75%;
  background-position-y: 100%;
}

.fott-card[data-card-id=""] {
  background-position-x: 100%;
  background-position-y: 100%;
}

/* ------- UNDO TURN ------- */
/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

a[style*="color: #c0c0c0"],
a[style*="color:#c0c0c0"],
span[style*="color: #c0c0c0"],
span[style*="color:#c0c0c0"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;
}
#logs .log.notif_newUndoableStep .roundedbox {
  display: none;
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
#logs .log.notif_newUndoableStep .roundedbox::before, #logs .log.notif_newUndoableStep .roundedbox::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
#logs .log.notif_newUndoableStep.selectable .roundedbox {
  display: block;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
  display: block !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::before, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* ------- LOG TOKENS ------- */
.log_tooltip {
  position: relative;
}
.log_tooltip .help-marker {
  top: -11px;
  left: auto;
  right: -18px;
}

.log-token,
.log_token {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

#customActions {
  --iconScale: 0.75;
  --tokenScale: 0.6;
  --tileScale: 0.25;
  display: inline-flex;
}
#customActions .fott-action-token {
  --tokenScale: 0.534;
}
#customActions .fott-animal {
  --tokenScale: 0.4;
}
#customActions .fott-button {
  display: flex;
  padding-bottom: 9px;
  align-items: center;
}
#customActions .skip-button {
  padding: 6px 18px 6px 18px;
}

#pagemaintitletext,
#gameaction_status {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --cardScale: 0;
  --tileScale: 0.25;
}
#pagemaintitletext .fott-action-token,
#gameaction_status .fott-action-token {
  --tokenScale: 0.6;
}
#pagemaintitletext .fott-tile,
#gameaction_status .fott-tile {
  border: solid calc(var(--tileScale) * 2px) black;
}

.log > .roundedbox,
.log > .roundedboxinner {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --tileScale: 0.25;
  --cardScale: 1;
}
.log > .roundedbox .fott-action-token,
.log > .roundedboxinner .fott-action-token {
  --tokenScale: 0.5;
}

.notif_phase .roundedboxinner,
.notif_phase .roundedbox {
  font-weight: bold;
  text-align: center;
}

.notif_phase .roundedbox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.fott-action-token-container {
  position: relative;
  width: calc(var(--tokenScale) * 83px);
  aspect-ratio: 444/474;
}

.fott-action-token {
  width: calc(var(--tokenScale) * 83px);
  aspect-ratio: 444/474;
  background-image: url("img/action-tokens.png");
  background-size: 300% 300%;
}

.fott-animal-token.card-side,
.fott-action-token.card-side {
  box-shadow: none !important;
}

.fott-action-token[data-type=Banana] {
  background-position-x: 0%;
}

.fott-action-token[data-type=Escape] {
  background-position-x: 50%;
}

.fott-action-token[data-type=Swamp] {
  background-position-x: 100%;
}

.fott-action-token-container.selectable .fott-action-token {
  cursor: pointer;
  background-position-y: 50%;
}

.fott-action-token-container.selectable:hover .fott-action-token,
.fott-action-token-container.selected .fott-action-token {
  cursor: pointer;
  background-position-y: 100%;
}

.fott-animal-token-container {
  position: relative;
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 302/307;
}

.fott-animal-token {
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 302/307;
  background-image: url("img/animal-tokens.png");
  background-size: 400% 200%;
}

.fott-animal-token[data-animal=Bear] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.fott-animal-token[data-animal=Chicken] {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.fott-animal-token[data-animal=Cow] {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.fott-animal-token[data-animal=Fox] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.fott-animal-token[data-animal=Goat] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.fott-animal-token[data-animal=Pig] {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.fott-animal-token[data-animal=Tiger] {
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.fott-animal-token[data-animal=Wolf] {
  background-position-x: 100%;
  background-position-y: 100%;
}

#fott-points-tracker {
  --tokenScale: var(--leftColumnScale);
  --pointsTrackerScale: var(--leftColumnScale);
  position: relative;
  width: calc(var(--pointsTrackerScale) * 800px);
  height: calc(var(--pointsTrackerScale) * 800px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#fott-points-tracker #fott-points-tracker-dial {
  width: calc(var(--pointsTrackerScale) * 400px);
  height: calc(var(--pointsTrackerScale) * 400px);
  aspect-ratio: 1/1;
  background-image: url("img/point_counter.png");
  background-size: 100% 100%;
}

.fott-animal-token-spot {
  position: absolute;
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 302/307;
}

html {
  background-attachment: fixed;
  background: rgb(12, 15, 44) !important;
}

#play-area-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#page-title {
  min-height: 76px;
}

/*# sourceMappingURL=foxonthetree.css.map */
