@use 'sass:math';
/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

a[style*='color: #c0c0c0'],
a[style*='color:#c0c0c0'],
span[style*='color: #c0c0c0'],
span[style*='color:#c0c0c0'] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black,
    1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;

  .roundedbox {
    display: none;
    text-align: center;
    cursor: pointer;
    background-color: #c4c2c2;
    font-size: 12px;
    padding: 2px 5px;

    &::before,
    &::after {
      content: '\f0e2';
      font: normal normal normal 12px/1 FontAwesome;
      margin: 0px 10px;
    }
  }

  &.selectable .roundedbox {
    display: block;
  }
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;

  &.selectable {
    display: block !important;

    .roundedboxinner {
      text-align: center;
      cursor: pointer;
      background-color: #c4c2c2;
      font-size: 12px;
      padding: 2px 5px;

      &::before,
      &::after {
        content: '\f0e2';
        font: normal normal normal 12px/1 FontAwesome;
        margin: 0px 10px;
      }

      .msgtime {
        display: none;
      }
    }
  }
}

/* ------- LOG TOKENS ------- */

.log_tooltip {
  position: relative;
  .help-marker {
    top: -11px;
    left: auto;
    right: -18px;
  }
}

.log-token,
.log_token {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

#customActions {
  --iconScale: 0.75;
  --tokenScale: 0.6;
  --tileScale: 0.25;
  display: inline-flex;

  .fott-action-token {
    --tokenScale: 0.534;
  }

  .fott-animal {
    --tokenScale: 0.4;
  }

  .fott-button {
    display: flex;
    padding-bottom: 9px;
    align-items: center;

    // padding: 6px 18px 6px 18px;
  }

  .skip-button {
    padding: 6px 18px 6px 18px;
  }
}

#pagemaintitletext,
#gameaction_status {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --cardScale: 0;
  --tileScale: 0.25;

  .fott-action-token {
    --tokenScale: 0.6;
  }

  .fott-tile {
    border: solid calc(var(--tileScale) * 2px) black;
  }
}

.log > .roundedbox,
.log > .roundedboxinner {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --tileScale: 0.25;
  --cardScale: 1;

  .fott-action-token {
    --tokenScale: 0.5;
  }
}

.notif_phase {
  .roundedboxinner,
  .roundedbox {
    // background-color: base.$light-blue;
    // background-color: rgb(1, 97, 140);
    font-weight: bold;
    text-align: center;
  }
}

.notif_phase {
  .roundedbox {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
