#fott-points-tracker {
  --tokenScale: var(--leftColumnScale);
  --pointsTrackerScale: var(--leftColumnScale);

  position: relative;
  width: calc(var(--pointsTrackerScale) * 800px);
  height: calc(var(--pointsTrackerScale) * 800px);
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;

  #fott-points-tracker-dial {
    width: calc(var(--pointsTrackerScale) * 400px);
    height: calc(var(--pointsTrackerScale) * 400px);
    aspect-ratio: 1 / 1;
    background-image: url('img/point_counter.png');
    background-size: 100% 100%;
  }
}

.fott-animal-token-spot {
  position: absolute;
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 302 / 307;
  // background-color: yellow;
  // border-radius: 50%;
}
