@use '../base';
@use 'sass:math';
@use 'sass:map';

#fott-zoom-controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  button {
    cursor: pointer;
  }

  button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .fott-zoom-out-icon {
    background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g></g></svg>');
    height: 40px;
    width: 40px;
  }
  .fott-zoom-in-icon {
    background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:ivory;stroke-width:7px;"/></g></g></svg>');
    height: 40px;
    width: 40px;
  }
}

#fott-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  --cardScale: var(--boardScale);
  --iconScale: var(--boardScale);
  --tileScale: var(--leftColumnScale) * var(--tileSizeMultiplier);
  --tokenScale: var(--tileScale);
  min-width: 100%;

  // overflow: auto;
  // height: calc(var(--tileScale) * 296px);

  // background-color: yellow;
  // width: calc(var(--boardScale) * 2000px);

  #fott-tiles-wrapper {
    padding-top: calc(var(--tileScale) * 40px);
    overflow: auto;
    height: calc(var(--tileScale) * 296px);
  }

  #fott-tiles {
    // width: calc(var(--boardScale) * 2000px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: calc(var(--boardScale) * 8px);
    padding: calc(var(--boardScale) * 4px);
    width: calc(var(--leftColumnScale) * 2080px);
    margin-bottom: calc(var(--tileScale) * 56px);
  }
}

.fott-tile {
  position: relative;
  min-width: calc(var(--tileScale) * 200px);
  aspect-ratio: 502 / 501;
  background-image: url('img/tiles.jpg');
  background-size: 500% 200%;
  // outline: solid calc(var(--boardScale) * 4px) yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .fott-animal-container {
    transition: top 500ms ease-in-out, left 500ms ease-in-out;
  }

  // --tokenScale: var(--tileScale) * 1.5;
}

.fott-action-token-slot {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: calc(var(--tileScale) * -60px);
  height: calc(var(--tokenScale) * 81px);
  // background-color: yellow;
}

.fott-tile.selectable {
  cursor: pointer;
  outline: solid calc(var(--tileScale) * 4px) base.$selectable-color;
}

.fott-tile.selectable:hover,
.fott-tile.selected {
  cursor: pointer;
  outline: solid calc(var(--tileScale) * 4px) base.$selected-color;
}

// #fott-set-aside-standees {
//   margin-left: 8px;
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   height: calc(var(--tokenScale) * 107px);
//   justify-content: flex-start;

//   .fott-animal-container {
//     top: 0px !important;
//     left: 0px !important;
//   }
// }

$tiles: (
  1: 'Farm',
  2: 'Tile01',
  3: 'Tile02',
  4: 'Tile03',
  5: 'Tile04',
  6: 'Tile05',
  7: 'Tile06',
  8: 'Tile07',
  9: 'Tile08',
  10: 'LairOfPredators',
);

@for $i from 1 through 10 {
  .fott-tile[data-tile-id='#{map.get($tiles,$i)}'] {
    background-position-x: math.div((($i - 1) % 5 * 100%), 4);
    background-position-y: math.div(math.floor(calc(($i - 1) / 5)) * 100%, 1);
  }
}

.fott-animal-container {
  position: relative;
  width: calc(var(--tokenScale) * 100px);
  aspect-ratio: 407 / 432;
}

.fott-animal {
  width: calc(var(--tokenScale) * 105px);
  aspect-ratio: 407 / 432;
  background-image: url('img/standees.png');
  background-size: 800% 300%;
  transition: tranform 1s;
}

.fott-animal[data-facing='right'] {
  transform: scaleX(-1);
}

// .fott-animal[data-type='Predator'][data-phase='2'] {
//   transform: scaleX(-1);
// }

.fott-animal.card-side {
  box-shadow: none !important;
}

$animals: (
  1: 'Bear',
  2: 'Chicken',
  3: 'Cow',
  4: 'Fox',
  5: 'Goat',
  6: 'Pig',
  7: 'Tiger',
  8: 'Wolf',
);

@for $i from 1 through 8 {
  .fott-animal[data-animal='#{map.get($animals,$i)}'] {
    background-position-x: math.div((($i - 1) % 8 * 100%), 7);
    // background-position-y: math.div(math.floor(calc(($i - 1) / 4)) * 100%, 1);
  }
}

.fott-animal-container.selectable {
  .fott-animal {
    cursor: pointer;
    background-position-y: 50%;
  }
}

.fott-animal-container.selectable:hover,
.fott-animal-container.selected {
  .fott-animal {
    cursor: pointer;
    background-position-y: 100%;
  }
}
