/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * FoxOnTheTree implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

@use '../node_modules/bga-cards/bga-cards';
// @use '../node_modules/bga-dice/bga-dice';
@use './base';
@use './board/board';
@use './boilerplate/default';
@use './icons';
@use './player-manager/playerBoard';
@use './player-manager/playerPanel';
@use './logs/logs';
@use './tokens';

html {
  // background-image: url('img/background.jpg');
  background-attachment: fixed;
  background: rgb(12,15,44) !important;
}

#play-area-container {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

#play-area-container[data-two-columns='disabled'] {
  // padding: 4px; // Check this?
  display: flex;
  flex-flow: column;
  align-items: center;
}

#left-column {
}

#right-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
